<template name="bandPage">
    <div class="band-page">
        {{> bandItem}}

        <div class="band-revenue">
           <h3 class="band"><a href="{{pathFor 'bandPage'}}">{{ bandName }}</a> Revenue</h3>
           {{> reactiveTable collection=bandRevenueCollection settings=bandRevenueSettings}}
           </div>

           <div class="calendar">
                <h3 class="band">Events for <a href="{{pathFor 'bandPage'}}">{{ bandName }}</a></h3>
               {{> fullcalendar id="bandCalendar" }}
           </div>

        <h3 class="band">List of Shows</h3>
        {{#each Events }}
        <div class="band">
           <div class="band-content">
               <h1>{{ eventTitle }}</h1>
               <h3><a href="/bands/{{ eventBandName }}">{{ eventBandName }}</a>at
                 <a href="/venues/{{ eventVenueName }}">{{ eventVenueName }}</a>
                 <span class="show-map"><a href="/map">Show On Map</a></span>
                 {{#if currentUser}} <span><a href="{{pathFor 'eventEdit'}}">Edit Event Info</a></span> {{/if}}
               </h3>
               <div class="show-times">
                   From: {{ formatStartTime eventStartTime "long" }} Until
                   {{ formatStopTime eventStopTime "short" }}</div>
               <div class="show-notes">Show Notes: {{ showNotes }}</div>
               <div class="sponsor">Sponsored By: {{ showSponsor }}</div>
           </div>
         </div>
        {{/each}}

    </div>
</template>
